.cu-main > * + * {
    margin-block-start: var(--rds--spacing-medium);
    margin-block-end: 0;
}

.cu-main a {
    font-weight: 700;
    text-decoration: none;
    transition: color 0.25s ease;
}

.cu-main a:hover {
    color: var(--rds--color-primary-dark);
    text-decoration: underline;
    transition: color 0.25s ease;
}

.cu-main--padding {
    padding-top: var(--rds--spacing-large);
    padding-bottom: var(--rds--spacing-large);
}
