.cu-card__date-thumb {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-top: calc(var(--rds--spacing-x-large) * -1);
    margin-bottom: var(--rds--spacing-medium);
    background: var(--rds--color-white);
    border-radius: var(--rds--radius-sm);
    box-shadow: var(--rds--shadow-natural);
}

.cu-card__date-thumb-month {
    display: block;
    font-size: var(--rds--font-size-x-small);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--rds--color-primary);
}

.cu-card__date-thumb-day {
    display: block;
    font-size: var(--rds--font-size-x-large);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--rds--color-black);
}