@use '../../styles/auto/variables' as *;

.cu-department-bar {
  padding: 1.5rem 2rem;
  background-color: var(--rds--color-grey-pale);

  @media (min-width: $rds-media-query-md) {
    padding: 2rem 2.5rem;
  }
}

.cu-department-bar__inner {
  max-width: var(--rds--layout-wide-size);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $rds-media-query-md) {
    display: flex;
    align-items: center;
  }
}

.cu-department-bar__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cu-department-bar__name {
  margin: 0;
  color: var(--rds--color-black);
  font-weight: var(--rds--font-weight-bold);
  text-align: center;

  @media (min-width: $rds-media-query-md) {
    text-align: left;
  }
  @media (min-width: $rds-media-query-lg) {
    font-size: var(--rds--font-size-large);
  }
}

.cu-department-bar__meta {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $rds-media-query-md) {
    text-align: left;
  }
  @media (min-width: $rds-media-query-lg) {
    display: flex;
    gap: 1.25rem;
  }
}

.cu-department-bar__meta-item {
  font-size: var(--rds--font-size-medium);

  @media (min-width: $rds-media-query-lg) {
    padding-left: 1.25rem;
    border-left: 1px solid var(--rds--color-grey-light);

    &:first-child {
      padding-left: 0;
      border-left: 0;
    }
  }
}

.cu-department-bar__email {
  color: var(--rds--color-primary-dark);
  font-weight: var(--rds--font-weight-bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.cu-department-bar__actions {
  margin-top: 1.25rem;

  @media (min-width: $rds-media-query-md) {
    margin-top: 0;
    margin-left: auto;
  }
}
