@use '../../styles/auto/variables' as *;

.cu-buttongroup {
    display: flex;
    flex-wrap: wrap;
    gap: var(--rds--spacing-2-x-small);

    @media (min-width: $rds-media-query-md) {
        flex: 1 1 0%;
    }

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-end {
        justify-content: flex-end;
    }
}
