.cu-section--grey {
  background-color: var(--rds--color-grey-pale);
  padding: var(--rds--spacing-large);
}

.cu-section--grey:not(.alignfull) {
  border-radius: var(--rds--radius-xl);
}

.cu-main .cu-section--grey.alignfull:last-child {
  margin-bottom: calc(-1 * var(--rds--spacing-large));
}

// If grey section is the first block, remove top margin
.cu-main .cu-section--grey.alignfull:first-child {
  margin-top: calc(-1 * var(--rds--spacing-large));
}