@use '../../styles/auto/variables' as *;

.cu-cookie-banner {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 50;
  max-width: var(--rds--layout-wide-size);
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  background-color: var(--rds--color-grey-faint);
  border: 4px solid var(--rds--color-white);
  border-radius: var(--rds--radius-md);
  box-shadow: var(--rds--shadow-natural);
}

.cu-cookie-banner__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;

  @media (min-width: $rds-media-query-md) {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}

.cu-cookie-banner__message {
  margin: 0;
  max-width: 48rem;
  color: var(--rds--color-grey-dark);
  font-size: var(--rds--font-size-small);

  @media (min-width: $rds-media-query-md) {
    font-size: var(--rds--font-size-medium);
  }
}

.cu-cookie-banner__link {
  color: var(--rds--color-primary-dark);
  font-weight: var(--rds--font-weight-bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.cu-cookie-banner__action {
  @media (min-width: $rds-media-query-md) {
    margin-left: auto;
  }
}
