// Global width classes for Gutenberg alignments, to be used in Section component
.aligncontent {
  max-width: var(--rds--layout-content-size);
}
.alignwide {
  max-width: var(--rds--layout-wide-size);
}
.alignfull {
  max-width: var(--rds--layout-full-size);
}

// Visually hidden, available to assistive tech
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
