@use '../../styles/auto/variables' as *;

.cu-imagecover {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  background-image: var(--cu-imagecover-bg, none);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--rds--color-grey-pale);
  padding: var(--rds--spacing-large);
  padding-block-end: var(--rds--spacing-2-x-large);
}

.cu-imagecover > .has-global-padding,
.has-global-padding > .cu-imagecover.alignfull > .has-global-padding {
  padding-left: 0;
  padding-right: 0;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > * + * {
    margin-block-start: var(--rds--spacing-medium);
    margin-block-end: 0;
  }
}

.cu-imagecover--grey:not(.alignfull) {
  border-radius: var(--rds--radius-xl);
}

.cu-main .cu-imagecover--grey.alignfull:last-child {
  margin-bottom: calc(-1 * var(--rds--spacing-large));
}

.cu-main .cu-imagecover--grey.alignfull:first-child {
  margin-top: calc(-1 * var(--rds--spacing-large));
}

.cu-imagecover__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: var(--rds--asset-cu-waves-repeating-bottom-red);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 200px;
  pointer-events: none;
  z-index: -2;

  @media (min-width: $rds-media-query-md) {
    background-size: 300px;
  }

  @media (min-width: $rds-media-query-xl) {
    background-size: 400px;
  }
}

.cu-imagecover__overlay {
  position: absolute;
  inset: 0;
  background-color: var(--cu-imagecover-overlay, rgba(255, 255, 255, 0.85));
  pointer-events: none;
  z-index: -1;
}
